.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "sidenav roomnav roomnav roomnav"
    "sidenav roomnav roomnav roomnav"
    "sidenav buttonnav buttonnav buttonnav";
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #020015;
}


/* ROOM OVERVIEW LEFT */
.sidenav {
  grid-area: sidenav;
  height: 100%;
  z-index: 1;
  background-color: #251c3b;
}

.addroombutton {
  color: #9c98a6;
  background-color: #251c3b;

  font-size: 1em;
  padding: 16px;
  margin-bottom: 30px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;

  outline: none;
  border-radius: 25px;
  border: 0;
  display: flex;
}
.addroombutton:hover {
  background-color: #463d58;
  border-radius: 10px;
  color: white;
}
.addicon {
    justify-content: center;
    align-items: center;
    fill: #FB5EAC;
    width: 8%;
    height: 8%;
}

.serverbutton {
  color: #9c98a6;
  background-color: #251c3b;
  text-decoration: none;
  font-size: 1em;
  padding: 16px;
  margin-bottom: 30px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  outline: none;
  border-radius: 25px;
  border: 0;
  display: flex;
}
.serverbutton:hover {
  background-color: #463d58;
  border-radius: 10px;
  color: white;
}
.servericon {
  width:12%;
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.servertext {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.rooms_header {
    margin-left: 30px;
    color: #9c98a6;
    font-size: 14px;
    letter-spacing: 2px;
}
.roombutton {
  color: #9c98a6;
  background-color: #251c3b;
  text-decoration: none;
  font-size: 1em;
  padding: 16px;
  margin-bottom: 0px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 10px;
  outline: none;
  border-radius: 10px;
  border: 0;
  display: flex;
}
.roombutton:hover {
  background-color: #463d58;
  border-radius: 10px;
  color: white;
}
.roomicon {
  width:12%;
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roomtext {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}
.online_users_text {
    margin-left: 30px;
    color: #9c98a6;
    font-size: 14px;
}

/* ONLINE USERS */
.online_users_header {
    margin-top: 40px;
    margin-left: 30px;
    color: #9c98a6;
    font-size: 14px;
    letter-spacing: 2px;
}
.onlineusers_div {
    background-color: white;
    margin-left: 30px;
}
.onlineuser_div {
    color: #9c98a6;
    justify-content: center;
    display: flex;
    align-items: center;
}


/* FUNCTIONS BUTTON */
.buttonnav {
  grid-area: buttonnav;
  background-color: #0f0a1e;
  border-radius: 5em;
  border-color: #151424;

  display: flex;
}
.functionbuttons {
  background-color: #0f0a1e;
  outline: none;
  border: 0;
}
.functionsicon {
  transform: scale(0.3);
}


/* USER VIEW */
.roomnav {
  grid-area: roomnav;
  background-color: #020015;

  margin-right: 10%;
  display: flex;

  align-items: center;
}
.userbutton {
  color: #9c98a6;
  background-color: #251c3b;

  border-radius: 50%;
  border: 1px solid #3DC871;

  width: 200px;
  height: 200px;

  text-decoration: none;
  font-size: 1em;

  margin-right: 10%;
  margin-left: 10%;
}
.userbutton:hover {
  background-color: #463d58;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
